
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
<body>

<section class="policy">
    <h1>Privacy Policy</h1>

    <p>We respect your privacy and protect your personal information.</p>

    <h3>1. Information We Collect</h3>
    <p>We may collect personal information such as your name, email address, and message when you fill out the contact form on our website.</p>

    <h3>2. Use of Information</h3>
    <p>The information collected is used only to respond to your inquiries, provide services, and improve our website experience. We do not use your information for any unauthorized purposes.</p>

    <h3>3. Data Protection</h3>
    <p>We take appropriate measures to protect your personal data from unauthorized access, alteration, or disclosure. However, no method of transmission over the internet is 100% secure</p>

    <h3>4. Sharing</h3>
    <p>We do not sell, trade, or share your personal information with third parties, except when required by law.</p>

    <h3>5. Cookies</h3>
    <p>Our website may use cookies to enhance user experience and analyze website traffic. Users can choose to disable cookies through their browser settings.</p>

    <h3>6. Changes</h3>
    <p>We may update this policy from time to time. Any changes will be posted on this page.</p>
</section>

</body>
</html>