<!DOCTYPE html>
<html>
<head>
    <title>Terms & Conditions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="heading" >Terms & Conditions</div>

<div class="container">

1. THESE TERMS 
1.1 What these terms cover. These are the terms and conditions on which we supply products to you.
1.2 Why you should read them. Please read these terms carefully before you submit your order to us. 
These terms tell you who we are, how we will provide products to you, how you and we may change or end 
the contract, what to do if there is a problem and other important information. If you think that there 
is a mistake in these terms, please contact us to discuss.
</div>

<div class="container h1">
2. INFORMATION ABOUT US AND HOW TO CONTACT US
2.1 Who we are. We are Online Bedrooms Limited t/a ‘online-bedrooms.co.uk’ a company registered in 
England and Wales and our registered office is at 81 Burton Road, Derby DE1 1TJ. Our company registration number is 13056876. Our registered VAT number is GB367129578.
2.2 How to contact us. You can contact us by telephoning our customer service team at 0115 718 0322 
or by writing to us at info@online-bedrooms.co.uk.
2.3 How we may contact you. If we have to contact you we will do so by telephone or by writing to you 
at the email address or postal address you provided to us in your order.
2.4 "Writing" includes emails. When we use the words "writing" or "written" in these terms, this includes 
emails.
</div>

<div class="container p">
3. OUR PRODUCTS
3.1 Products may vary slightly from their pictures. The images of the products on the Website are for
 illustrative purposes only. Although we have made every effort to display the colours accurately,
  we cannot guarantee that a device's display of the colours accurately reflects the colour of the
   products. Your product may vary slightly from those images.
3.2 Making sure your measurements are accurate. If we are making the product to measurements you have
 given us, you are responsible for ensuring that these measurements are correct. You can find information
  and tips on how to measure on the Website or by contacting us.
</div>
<BR>
<a href="/">Go Back Home</a>

</body>
</html>